<form>
    <!-- Default Foundry Heading -->
    <header class="sheet-header">
        <img src="{{pc.img}}" data-edit="img" title="{{pc.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{pc.name}}" placeholder="Item Name"></h1>
    </header>

    <!-- Main Layout --> 
    <table> 
        <!-- Ability Scores Layout -->
        <div>

        </div>

        <!-- Armor Score, Uses, Evasion -->
        <div>
            
        </div>

        <!-- HP, Stress, Thresholds -->
        <div>

        </div>

        <!-- Hope -->
        <div>

        </div>

        
        <!-- Gold & money -->
        <div>

        </div>

        <!-- 
    </table>
</form>